*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.game-board {
    width: 90vh;
    height: 500px;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 10px;
    margin: 0 auto;  /*Serve para alinhar quando nao se usa o display flex  */
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear; /*A animação ocorre de maneira infinita com velocidade linear */
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.mario {
    width: 140px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 170px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 170px;
    }


    100% {
        bottom: 0px;
    }
}


