*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.game-board {
    width: 100%;
    height: 700px;
    border-bottom: 15px solid rgb(145, 255, 0);
    border-radius: 10px;
    margin: 0 auto;  /*Serve para alinhar quando nao se usa o display flex  */
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear; /*A animação ocorre de maneira infinita com velocidade linear */
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 700ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 170px;
    }

    50% {
        bottom: 190px;
    }

    60% {
        bottom: 180px;
    }

    80% {
        bottom: 100px;
    }

    100% {
        bottom: 0px;
    }
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds 20s infinite linear;
}

@keyframes clouds {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}